article{
    height: 22em;
}
article div{
    height: 85%;
    overflow: auto ;
}

.title-list{
    padding-left: 1em;
}

ol{
    list-style: none;
    counter-reset: item;
}

li{
    counter-increment: item;
    border-bottom: 1px solid lightgray;
    padding: 1.5em; 
    display: flex;
    align-items: center;
}

li::before {
    content: counter(item);
    font-size: 80%;
    background-color: #EADDFF;
    color: #21005D;
    font-weight: bold;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

li div{
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}

li p:nth-of-type(1){
    font-weight: bold;
}

li p:nth-of-type(2){
    color: grey;
}

li:hover p:nth-last-of-type(2){
    color: var(--primary-color);
    text-decoration: underline;
}

li:hover p{
    color: var(--primary-color);
}

li:hover{
    border-bottom: solid 1px var(--primary-color);
}