.form-container {
  padding: 1em;
}

form{
  display: flex;
  gap: 1em;
  justify-content: flex-start;
  align-items: center;
}

h2 {
  font-weight: 400;
}

/* Button */
.mat-mdc-raised-button.mat-primary {
  background-color: var(--primary-color);
  position: relative;
  bottom: 4px;
  border-radius: 0.5em;
  min-width: 12em;
  height: 2.8em;
}

#btn-add::after{
  content:"Create new"
}
@media (max-width: 1000px) {
  .mat-mdc-raised-button.mat-primary{
    min-width: 7em;
  }
  #btn-add::after{
    content:"Create";
  }
}