/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #6750a4;
  --secondary-color: #ece6f0;
  --accent-color: #f7f2fa;
  --accent2-color: #fef7ff;
  --shadow-color: #cac4d0;

  --title-color: #1d1b20;
  --subTitle-color: #49454f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--secondary-color);
}

app-root {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border-bottom: solid 2px var(--primary-color);
}

h1 {
  font-size: 36px;
  font-weight: 400;
  padding: 0.5em;
}

section{
  padding: 1em;
  background-color: var(--accent-color);
  height: clamp(40em, 50vw, 40em);
  width: 55vw;
}

.mat-typography h1, .mat-typography p, .mat-typography h2 {
  margin: 0;
  padding: 0;
}

article{
  display: block;
  margin: 1em;
  height: 19em;
  overflow: hidden;
  border-radius: 28px;
  background-color: var(--secondary-color);
}

.mat-typography h2{
  padding: .5em;
  font-weight: 400;
}

article > div{
  background-color: white;
  height: 100%;
  padding: 0 2em
}

.a-container{
  border-top: solid 1px rgba(0, 0, 0, 0.42);
}

.mat-mdc-list-base .mdc-list-item__content {
  z-index: 10;
}

.todo-item{
  border: 1px solid black;
}

textarea{
  width: 100%;
  height: 50%;
  margin: 1em 0;
  border: none;
  font-size: 1em;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  resize: none; 
}

